.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  padding: 100px;
  background-color: rgba(25, 25, 25, .97);
}

* { font-family: Roboto,sans-serif !important;}

button {
  background: #303030;
  border: none;
  border-radius: 22px;
  color: #ffffff;
  font-size: 24px;
  height: 48px;
  line-height: 32px;
  outline: none;
  margin: 0 32px 0 0;
  padding: 0px 21px;
}

select {
  background: #303030;
  border: none;
  border-radius: 22px;
  color: #ffffff;
  font-size: 24px;
  height: 48px;
  line-height: 32px;
  outline: none;
  margin: 0 32px 0 0;
  padding: 0px 21px;
}

button:hover {
  background-color:#424242;
  -ms-transform:scale(1.1,1.1);
  -webkit-transform:scale(1.1,1.1);
  transform:scale(1.1,1.1);
  outline:none;
}

input {
  background: #303030;
  border: none;
  border-radius: 22px;
  color: #ffffff;
  font-size: 24px;
  width: 25%;
  height: 48px;
  line-height: 32px;
  outline: none;
  margin: 0 32px 0 0;
  padding: 0px 21px;
}

.App-link {
  color: #61dafb;
}

.whiteText {
  color: white;
}

.centerText {
  text-align: center;
  
}

.conversation {
  color: white;
}

.title {
  color: white;
  text-align: center;
}

#iTable {
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
